project-dog-classification/dogImages/
project-dog-classification/lfw/ 
project-dog-classification/model_scratch.pt
project-dog-classification/model_transfer.pt
**/*.zip
transfer-learning/flower_photos/
recurrent-neural-networks/char-rnn/rnn_40_epoch.net
word2vec-embeddings/__pycache__/utils.cpython-36.pyc
word2vec-embeddings/SkipGram.net
